* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    --primary: #BCBDFF;
    --secondary: #7988F2;
    --background: #F9F8FF;
    --accent: #E6F4F1;

    --secondary_RGBA: RGBA(121, 136, 242, 0.7)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

p {
    font-weight: 200;
}


body {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

.nav-logo {
    width: 60px;
    height: 60px;
}

.navbar {
    width: 100vw;
    background-color: var(--secondary);
    color: var(--accent);
}

.nav-link {
    margin: 20px;
    color: var(--accent);
}

.navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.nav-link:hover {
    color: var(--primary) !important;
}

.dropdown-btn:hover{
    background-color: var(--accent);
    color: var(--secondary);
    border-color: var(--accent);
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.table_boten {
    width: 100%;
}

.boten_row {
    margin: 40px !important;
}

.footer {
    color: var(--accent);
    background-color: var(--secondary);
    width: 100vw;
    height: 25vh;
    margin-top: auto;
}

.footer-link {
    color: var(--accent);
}

.header-img {
    width: 100%;
    height: calc(100vh - 96px)
}

.header-title {
    font-weight: 900;
}

.header-box {
    position: absolute;
    top: 50%;
    margin-left: 50px;
    transform: translate(-0%, -50%);
}

.header-background {
    background-color: var(--secondary_RGBA);
    border-color: var(--secondary) !important;
}

.header-btn {
    background-color: var(--accent);
    border-color: var(--accent) !important;
    color: var(--secondary);
}

.dropdown-btn {
    background-color: var(--primary);
    border-color: var(--primary);
}

.dropdown-menu {
    background-color: var(--secondary);
    
}

.section {
    position: relative;
    margin-top: 50px;
}

.section-content {
    margin-top: 200px;
}

.section-title {
    position: absolute;
    left: 50%;
    top: -50px;
    /* margin-left: 50px; */
    transform: translate(-50%, -50%);
}

.overOns {
    margin-bottom: 500px;
}

.box {
    max-width: 60%;
    background-color: red;
    color: var(--accent);
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.box:nth-child(2n+2){
    background-color: var(--secondary);
}

.pencil {
    color: white;
}


